In [11]:
# The code was removed by DSX for sharing.

  Workstation                   Endpoint      Value      Timestamp
0        Ofen  dbVar.Analog.IN[0].rValue  37.601273  1529072842694
1        Ofen  dbVar.Analog.IN[0].rValue  37.811054  1529072843681
2        Ofen  dbVar.Analog.IN[0].rValue  37.984665  1529072844681
3        Ofen  dbVar.Analog.IN[0].rValue  38.158276  1529072846682
4        Ofen  dbVar.Analog.IN[0].rValue  38.158276  1529072846693

In [13]:

df_data_1['Timestamp'] = pd.to_datetime(df_data_1['Timestamp'],unit='ms')
df_data_1['Timestamp'] = df_data_1[.dt.tz_localize('UTC').dt.tz_convert('Asia/Kolkata')
df_data_1.head()

  Workstation                   Endpoint      Value               Timestamp
0        Ofen  dbVar.Analog.IN[0].rValue  37.601273 2018-06-15 14:27:22.694
1        Ofen  dbVar.Analog.IN[0].rValue  37.811054 2018-06-15 14:27:23.681
2        Ofen  dbVar.Analog.IN[0].rValue  37.984665 2018-06-15 14:27:24.681
3        Ofen  dbVar.Analog.IN[0].rValue  38.158276 2018-06-15 14:27:26.682
4        Ofen  dbVar.Analog.IN[0].rValue  38.158276 2018-06-15 14:27:26.693

In [15]:
df_data_1.to_csv("pandas.csv",index=False)

In [16]:
# The code was removed by DSX for sharing.

{'asset_id': '681afa87-69a8-45e8-83b5-21611bb29cb6',
 'bucket_name': 'fos2018-donotdelete-pr-l46fylvsu9y7bd',
 'file_name': 'file_name.csv',
 'message': 'File file_name.csv has been written successfully to the associated OS'}