In [103]:
# The code was removed by DSX for sharing.

  Workstation                   Endpoint      Value      Timestamp
0        Ofen  dbVar.Analog.IN[0].rValue  37.601273  1529072842694
1        Ofen  dbVar.Analog.IN[0].rValue  37.811054  1529072843681
2        Ofen  dbVar.Analog.IN[0].rValue  37.984665  1529072844681
3        Ofen  dbVar.Analog.IN[0].rValue  38.158276  1529072846682
4        Ofen  dbVar.Analog.IN[0].rValue  38.158276  1529072846693

In [161]:
#Bereinige Datensatz um Duplikate

df_copy = df_data_1.assign(id=0,extrema=0)
df_copy = df_copy.drop_duplicates(subset=['Value'])
df_copy.head()
df_copy2 = df_copy
#inkrement counter if period has ended
ct = 0
tmp = 0
flag = 1

for index, row in df_copy.iterrows():
    if index == 0:
        df_copy2.at[index,'extrema'] = -1
    row['id'] = 2
    if tmp < row['Value']:
        if flag == 0:
            ct = ct + 1
            df_copy2.at[index,'extrema'] = -1
        tmp = row['Value']
        flag = 1
        df_copy2.at[index,'id'] = ct
    if tmp > row['Value']:
        if flag == 1:            
            ct = ct + 1            
            df_copy2.at[index,'extrema'] = 1
        tmp = row['Value']
        flag = 0
        df_copy2.at[index,'id'] = ct
   

#for index, row in df_copy.iterrows():
#    print(row['id'],row['Value'], row['Timestamp'],row['extrema'])

In [170]:
#Bereinige Datensatz um Duplikate

df_copy = df_data_1.assign(id=0,extrema=0)
df_copy = df_copy.drop_duplicates(subset=['Value'])
df_copy.head()
df_copy2 = df_copy
#inkrement counter if period has ended
ct = 0
tmp = 0
flag = 1

for row in df_copy.itertuples():
    index = row.Index
    if index == 0:
        df_copy2.at[index,'extrema'] = -1
    df_copy2.at[index,'id'] = 2
    if tmp < row.Value:
        if flag == 0:
            ct = ct + 1
            df_copy2.at[index,'extrema'] = -1
        tmp = row.Value
        flag = 1
        df_copy2.at[index,'id'] = ct
    if tmp > row.Value:
        if flag == 1:            
            ct = ct + 1            
            df_copy2.at[index,'extrema'] = 1
        tmp = row.Value
        flag = 0
        df_copy2.at[index,'id'] = ct


df_filtered = df_copy2[df_copy2['extrema'].map(lambda x: x != 0)]

In [212]:
d = {'Time':[] , 'Type': []}
df = pd.DataFrame(data=d)

df_filtered.head()
previous = 0
for row in df_filtered.itertuples():  
    if previous != row.Index:    
        t1 = df_filtered.at[previous,'Timestamp']
        t2 = row.Timestamp
        df.at[row.Index,'Time'] = (t2 - t1)/1000/60
        df.at[row.Index,'Type'] = row.extrema
        previous = row.Index
df.head()

         Time  Type
18   0.483117   1.0
42   1.216683  -1.0
52   0.166617   1.0
162  5.358733  -1.0
174  0.199667   1.0

In [213]:
# The code was removed by DSX for sharing.

{'asset_id': '5da680e2-f64f-4968-892e-da13d4955a75',
 'bucket_name': 'fos2018-donotdelete-pr-l46fylvsu9y7bd',
 'file_name': 'timespans.csv',
 'message': 'File timespans.csv has been written successfully to the associated OS'}

In [167]:
# The code was removed by DSX for sharing.

{'asset_id': 'e487cf22-8899-4060-a7e1-2aaa86eecd5a',
 'bucket_name': 'fos2018-donotdelete-pr-l46fylvsu9y7bd',
 'file_name': 'extrema_marked.csv',
 'message': 'File extrema_marked.csv has been written successfully to the associated OS'}